---
name: Quarto Publish

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Cache Jupyter
        if: inputs.requirements-txt
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        with:
          path: .jupyter_cache
          key: quarto-${{ hashFiles('_quarto.yaml') }}

      - name: Set up Python
        if: inputs.requirements-txt
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: 3.x
          cache: pip
          cache-dependency-path: ${{ inputs.requirements-txt }}

      - name: Install dependencies
        if: inputs.requirements-txt
        shell: bash
        run: python -m pip install -r ${{ inputs.requirements-txt }}

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Render and Publish to GitHub Pages
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
